body {
    margin: 0;
    font-family: 'Century Gothic';
    font-size: 18px;
    /* background-color: #222; */
    color: #000;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: initial;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

.hor-items {
    display: flex;
    flex-direction: row;
}

.flex {
    display: flex;
}

#cart {
    display: flex;
    flex-direction: column;
    padding: 30px 44px 10px;
}

#cart>* {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

#cartLogo {
    background-image: url(/media/logolb.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 150px;
    height: 60px;
    transition: 0.5s background-image;
    cursor: pointer;
}

#cartLogo:hover {
    background-image: url(/media/logob.png)
}

#cartTitle {
    font-size: 36px;
    font-weight: 600;
}

#cartPrice {
    font-size: 14px;
    color: #777;
}

.borders {
    border: 1px solid #e7e7e7;
    transition: 0.3s border;
}

.borders:hover {
    border: 1px solid #969696;
}

#cartBody {
    margin: 20px 0 0;
    padding: 20px;
    border: 1px solid #e7e7e7;
    border-radius: 5px;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    padding: 0 0 10px;
}

.cart-item-img {
    object-fit: contain;
    object-position: center;
    max-width: 200px;
    max-height: 150px;
}

.cart-item-info {
    display: flex;
    padding: 0 0 0 10px;
    flex-direction: column;
}

.cart-item-note {
    justify-content: space-between;
    width: 80%;
}

.cart-item-name {
    font-size: 28px;
    padding: 0 0 10px;
}

.cart-item-price {
    font-size: 22px;
    padding: 10px 20px 0 0;
}

.cart-item-field {
    font-size: 14px;
}

.cart-item-field-name {
    padding: 0 10px 0 0;
}

.cart-item-props {
    display: flex;
    padding: 10px 10px 40px 30px;
    margin: 0 0 0 20px;
}

.cart-item-props>* {
    margin: 0 10px 0 0;
    transition: 0.3s visibility;
}

.cart-item-props>*:not(.cart-item-count) {
    opacity: 0;
}

.cart-item-count {
    max-height: 25px;
    max-width: 25px;
    padding: 1px 10px;
    text-align: center;
    border-color: #e7e7e7;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    transition: 0.3s border-color;
}

.cart-item-count:hover {
    border-color: #969696;
}

.btn {
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #e7e7e7;
    transition: 0.3s border;
    border-radius: 5px;
    padding: 5px 15px;
}

.btn:hover {
    border: 1px solid #969696;
}

.cart-item-btn {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    padding: 0;
    cursor: pointer;
}

#cartForm {
    display: none;
}

#cartForm>* {
    padding: 0 0 20px 0;
}

.pad-width {
    padding: 0 20px;
}

.input {
    display: flex;
    flex-direction: column;
    max-width: 200px;
}

.input>input,
.input>textarea {
    border-color: #bdbdbd;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    resize: none;
    font-size: 16px;
    padding: 5px 10px;
}

.input-name {
    text-align: left;
    padding: 0 0 5px;
}

#sendBtn {
    padding: 5px 15px;
    text-decoration: none;
}

.red-btn {
    border: none;
    background-color: #e68489;
    color: #fff;
    transition: 0.3s background-color;
}

.red-btn:hover {
    border: none;
    background-color: #ec1b25;
}

@font-face {
    font-family: 'Century Gothic';
    src: url(/fonts/CenturyGothic.ttf);
    font-weight: normal;
    font-style: normal;
}